In [1]:
import pandas as pd
import numpy as np
from joblib import dump, load

In [2]:
data = pd.read_csv('data_new.csv')

In [3]:
data

     Temperature  Pressure  Humidity  Smoke  Flame  Assessment
0          30.31     97098        51    546    866           1
1          32.98     99597        58    292    861           2
2          32.47     84995        57    319    895           2
3          26.04     98624        60    299    894           0
4          26.45     99266        58    680    832           1
..           ...       ...       ...    ...    ...         ...
175        30.07     98346        58    292    835           2
176        30.90     84259        57    309    847           2
177        32.37     84810        55    299    889           2
178        26.89    100598        56    536    850           1
179        28.96     97733        55    312    393           1

[180 rows x 6 columns]

In [4]:
X = data.iloc[:, 0 : 5].values
y = data.iloc[:, 5].values

In [5]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
X = scalar.fit_transform(X)

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [7]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [8]:
from sklearn import metrics
print('Accuracy = {}'.format(metrics.accuracy_score(y_test, y_pred)))

Accuracy = 0.9814814814814815

In [9]:
dump(scalar, 'scalar.joblib')
dump(clf, 'rfc.joblib')

['rfc.joblib']

In [10]:
scl = load('scalar.joblib')
rfc = load('rfc.joblib')